<table class="table">
  <tbody class="table__tbody--hidden">
    <tr data-comparison-target="productDetails">
      <td></td>
      <% @comparison_products.each do |comparison_product| %>
        <td class="table--fixed-col-width" data-comparison-target="selectedProduct" data-product-details=<%= comparison_product.product_details %>></td>
      <% end %>
    </tr>
  </tbody>
  <tbody>
    <tr>
      <th class="table--sticky-col table--fixed-col-width">Product Details</th>
    </tr>
  </tbody>
  <tbody>
    <tr id="insurer-name">
      <th class="table--sticky-col table--fixed-col-width">Insurer</th>
      <% @comparison_products.each do |comparison_product| %>
        <td class="table--fixed-col-width"><%= comparison_product.insurer_name %></td>
      <% end %>
    </tr>
    <tr id="product-name">
      <th class="table--sticky-col table--fixed-col-width">Product</th>
      <% @comparison_products.each do |comparison_product| %>
        <td class="table--fixed-col-width"><%= comparison_product.product_name %></td>
      <% end %>
    </tr>
    <tr id="chosen-cover">
      <th class="table--sticky-col table--fixed-col-width">Chosen Cover</th>
      <% @comparison_products.each do |comparison_product| %>
        <td class="table--fixed-col-width"><%= comparison_product.product_module_names %></td>
      <% end %>
    </tr>
    <tr id="overall-sum-assured">
      <th class="table--sticky-col table--fixed-col-width">Overall Sum Assured</th>
      <% @comparison_products.each do |comparison_product| %>
        <td class="table--fixed-col-width"><%= comparison_product.overall_sum_assured %></td>
      <% end %>
    </tr>
  </tbody>
  <% @benefit_categories.each do |category| %>
    <tbody>
      <tr>
        <th class="table--sticky-col table--fixed-col-width"><%= category.titleize %></th>
      </tr>
    </tbody>
    <tbody>
      <% @grouped_benefits[category].each do |benefit| %>
        <tr>
          <td class="table--sticky-col table--fixed-col-width"><%= benefit.name.titleize %></td>
          <% @comparison_products.each do |comparison_product| %>
            <td class="table--fixed-col-width">
              <span class="icon">
                <i class="<%= coverage_icon(comparison_product.module_benefit(benefit.id) || NullProductModuleBenefit.new) %>"></i>
              </span>
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  <% end %>
</table>
