<section class="section">
  <div class="columns" data-controller="comparison-product">
    <div class="column is-one-fifth">
      <h3 class="title is-3">Product Picker</h3>
      <div data-controller="health-comparison-product-select">
        <%= form_with url: comparison_products_path, format: 'json' do |form| %>
          <div class="field">
            <div class="control">
              <div class="select">
                <%= form.select "comparison_product[insurer]", options_from_collection_for_select(Insurer.order(:name), "id", "name"), {prompt: 'Select Insurer...'}, data: {target: 'health-comparison-product-select.insurer comparison-product.insurer', action: 'change->health-comparison-product-select#getProducts'}, id: 'insurer-select' %>
              </div>
            </div>
          </div>
          <div class="field">
            <div class="control">
              <div class="select product-select">
                <%= form.select "comparison_product[product]", options_for_select([]), {prompt: 'Select Product'}, data: { target: 'health-comparison-product-select.product comparison-product.product', action: 'change->health-comparison-product-select#getProductModules' }, id: 'product-select' %>
              </div>
            </div>
          </div>
          <div class="field">
            <div id="product-modules" data-target="health-comparison-product-select.productModules comparison-product.productModules">
            </div>
          </div>
          <div class="field">
            <div class="control">
              <%= form.submit "Load Benefits", class: 'button is-primary', data: { target: 'health-comparison-product-select.comparisonProductSubmit comparison-product.comparisonProductSubmit', action: 'click->comparison-product#addComparisonProduct' } %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="table-container column columns__column--no-padding-left">
      <table class="table">
        <tbody>
          <tr>
            <th class="table--sticky-col table--fixed-col-width">Product Details</th>
          </tr>
        </tbody>
        <tbody>
          <tr data-target="comparison-product.insurerTableRow">
            <th class="table--sticky-col table--fixed-col-width">Insurer</th>
          </tr>
          <tr data-target="comparison-product.productTableRow">
            <th class="table--sticky-col table--fixed-col-width">Product</th>
          </tr>
          <tr data-target="comparison-product.chosenCoverRow">
            <th class="table--sticky-col table--fixed-col-width">Chosen Cover</th>
          </tr>
          <tr data-target="comparison-product.overallSumAssured">
            <th class="table--sticky-col table--fixed-col-width">Overall Sum Assured</th>
          </tr>
        </tbody>
          <% @benefit_categories.each do |category| %>
            <tbody>
              <tr>
                <th class="table--sticky-col table--fixed-col-width"><%= category.titleize %></th>
              </tr>
            </tbody>
            <tbody>
              <% @benefits[category].each do |benefit| %>
                <tr data-target="comparison-product.benefitRow" id=<%= benefit.id %>>
                  <td class="table--sticky-col table--fixed-col-width"><%= benefit.name.titleize %></td>
                </tr>
              <% end %>
            </tbody>
          <% end %>
      </table>
    </div>
  </div>
</section>
