<section class="section">
  <div class="container">
    <%= form_with model: @suitable_plans_form, url: suitable_plans_path, method: :get, local: true, data: { controller: 'tab nested-form', tab_index_value: '0' } do |f| %>
      <%= tag.div data: { tab_target: 'tab' } do %>
        <div id="applicants" data-target="nested-form.add_item" class="flex flex-col space-y-8">
          <template data-target="nested-form.template">
            <%= f.fields_for :applicants, ServiceModels::Applicant.new, child_index: 'TEMPLATE_RECORD' do |applicant| %>
              <%= render 'applicant_fields', applicant: applicant %>
            <% end %>
          </template>
          <%= f.fields_for :applicants do |applicant| %>
            <%= render 'applicant_fields', applicant: applicant %>
          <% end %>
        </div>
        <div class="flex justify-center mt-3">
          <button type="button" data-action="click->nested-form#add_association" class="inline-flex items-center p-3 border border-transparent rounded-full shadow-sm text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
            <!-- Heroicon name: outline/plus -->
            <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v16m8-8H4" />
            </svg>
          </button>
        </div>
      <% end %>
      <%= tag.div class: 'hidden', data: { tab_target: 'tab' } do %>
        <ul class="grid grid-cols-1 gap-6 sm:grid-cols-4">
          <% @suitable_plans_form.all_coverages.each do |coverage_type| %>
            <%= label_tag "suitable_plans_form[coverages][#{coverage_type}]" do %>
              <li class="col-span-1 bg-white rounded-lg shadow divide-y divide-gray-200">
                <div class="relative flex items-start items-center pl-2 pr-2">
                  <div class="flex items-center h-5">
                    <%= check_box "suitable_plans_form",
                                  "coverages",
                                  { multiple: true,
                                    id: "suitable_plans_form_coverages_#{coverage_type}",
                                    class: 'focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300 rounded',
                                    data: { test_id: "#{coverage_type.dasherize}-checkbox" } },
                                  coverage_type,
                                  nil %>
                  </div>
                  <div class="ml-3 text-sm">
                    <span class="icon is-large"><i class="fa fa-2x <%= coverage_type_icon(coverage_type) %>"></i></span>
                    <p id="comments-description" class="text-gray-500"><%= coverage_type.titleize %></p>
                  </div>
                </div>
              </li>
            <% end %>
          <% end %>
        </ul>
      <% end %>
      <%= tag.div class: 'hidden', data: { tab_target: 'tab' } do %>
        <div class="field" data-test-id="submit-section">
          <div class="control">
            <%= f.submit :submit, class: 'inline-flex items-center px-6 py-3 border border-transparent text-base font-medium rounded-md shadow-sm text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500',
                                  data: { test_id: 'tab-submit-btn' } %>
          </div>
        </div>
      <% end %>
      <div class="level mt-5">
        <div class="level-left">
          <button
            class="button is-large is-fullwidth invisible"
            data-action="tab#previousTab"
            data-tab-target="previousTabButton"
            data-test-id="previous-tab-btn"
          >Previous
          </button>
        </div>
        <div class="level-right">
          <button
            class="button is-large is-fullwidth"
            data-action="tab#nextTab"
            data-tab-target="nextTabButton"
            data-test-id="next-tab-btn"
          >Next
          </button>
        </div>
      </div>
    <% end %>
  </div>
</section>
