<section class="section">
  <div class="container">
    <%= form_with url: suitable_plans_path, local: true do |f| %>
      <div class="field is-grouped">
        <%= f.label 'people[][name]', 'Name' %>
        <div class="control">
          <%= f.text_field 'people[][name]' %>
        </div>
        <%= f.label 'people[][date_of_birth]', 'Date of Birth' %>
        <div class="control">
          <%= f.date_select 'people[][date_of_birth]', order: %i[day month year] %>
        </div>
        <%= f.label 'people[][nationality]', 'Nationality' %>
        <div class="control">
          <%= f.text_field 'people[][nationality]' %>
        </div>
        <%= f.label 'people[][country_of_residence]', 'Country of Residence' %>
        <div class="control">
          <%= f.text_field 'people[][country_of_residence]' %>
        </div>
        <%= f.label 'people[][relationship]', 'Relationship' %>
        <div class="control">
          <div class="select">
            <%= f.select 'people[][relationship]', %w[self spouse child sponsored_dependent] %>
          </div>
        </div>
      </div>
      <div class="field">
        <% @coverage_types.each do |coverage_type| %>
          <%= check_box_tag 'coverages[]', coverage_type, false, id: coverage_type %>
          <%= label_tag coverage_type do %>
            <span class="icon is-large"><i class="fa fa-2x <%= coverage_type_icon(coverage_type) %>"></i></span>
          <% end %>
        <% end %>
      </div>
      <div class="field">
        <p>Do you require cover for elective treatment in the USA?</p>
        <div class="control">
          <label class="radio">
            <%= f.radio_button :usa_cover, true %>
            Yes
          </label>
          <label class="radio">
            <%= f.radio_button :usa_cover, false %>
            No
          </label>
        </div>
      </div>
      <div class="field">
        <p>Do you need a plan that will consider covering pre-existing conditions?</p>
        <div class="control">
          <label class="radio">
            <%= f.radio_button :existing_conditions, true %>
            Yes
          </label>
          <label class="radio">
            <%= f.radio_button :existing_conditions, false %>
            No
          </label>
        </div>
      </div>
      <div class="field">
        <p>Choose all deductible options that apply</p>
        <div class="control">
          <% @deductibles.each do |deductible| %>
            <label class="checkbox">
              <%= check_box_tag 'deductible[]', deductible, false %>
              <%= deductible %>
            </label>
          <% end %>
        </div>
      </div>
      <div class="field">
        <p>Is this policy to replace existing cover?</p>
        <div class="control">
          <label class="radio">
            <%= f.radio_button :existing_cover, true %>
            Yes
          </label>
          <label class="radio">
            <%= f.radio_button :existing_cover, false %>
            No
          </label>
        </div>
      </div>
      <div class="field">
        <p>Please rank the following in the order of importance to you</p>
        <%= f.label :brand_recognition %>
        <div class="control">
          <%= f.number_field :brand_recognition, in: 1..10 %>
        </div>
        <%= f.label :financial_strength %>
        <div class="control">
          <%= f.number_field :financial_strength, in: 1..10 %>
        </div>
        <%= f.label :cost_of_cover %>
        <div class="control">
          <%= f.number_field :cost_of_cover, in: 1..10 %>
        </div>
        <%= f.label :online_facilities %>
        <div class="control">
          <%= f.number_field :online_facilities, in: 1..10 %>
        </div>
        <%= f.label :communication %>
        <div class="control">
          <%= f.number_field :communication, in: 1..10 %>
        </div>
        <%= f.label :direct_settlement %>
        <div class="control">
          <%= f.number_field :direct_settlement, in: 1..10 %>
        </div>
      </div>
      <div class="field">
        <div class="control">
          <%= f.submit :submit %>
        </div>
      </div>
      <div>
        <p>The following questions will help us find out what you are looking for in a health insurance partner. There are no right or wrong answers, it's all about your preference</p>
      </div>
      <div class="field">
        <p>How important is it that you are able to set up direct settlements directly with the providers you go to for inpatient treatment?</p>
        <p>How important is it that you are able to set up direct settlements directly with the providers you go to for outpatient treatment?</p>
      </div>
    <% end %>
  </div>
</section>
